<section class="experience section">
  <h2 class="section__title">С&nbsp;нашим опытом ваше путешествие будет незабываемым</h2>

  <div class="container experience__container grid">
    <div class="experience__content grid">
      <div class="experience__data">
        <h2 class="experience__number">10</h2>
        <span class="experience__description">Лет <br> опыта</span>
      </div>

      <div class="experience__data">
        <h2 class="experience__number">50+</h2>
        <span class="experience__description">Законченых <br> туров</span>
      </div>

      <div class="experience__data">
        <h2 class="experience__number">300+</h2>
        <span class="experience__description">Положительных <br> отзывов</span>
      </div>

    </div>

    <div class="experience__img grid">
      <div class="experience__overlay">
        <img src="img/experience/experience-1.jpg" alt="" class="experience__img-one">
      </div>

      <div class="experience__overlay">
        <img src="img/experience/experience-2.jpg" alt="" class="experience__img-two">
      </div>
    </div>
  </div>
</section>
