<footer class="footer section">
  <div class="container footer__container grid">
    <div class="footer__content grid">
      <div class="footer__data">
        <h3 class="footer__title">WorldTravel</h3>
        <p class="footer__description">Воплощаем ваши мечты</p>

        <div>
          <a href="#" class="footer__social">
            <svg>
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>

          <a href="#" class="footer__social">
            <svg>
              <use xlink:href="img/sprite.svg#inst"></use>
            </svg>
          </a>

          <a href="#" class="footer__social">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="footer__data">
        <h3 class="footer__subtitle">О нас</h3>

        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">История компании</a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">Будущие</a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">Блог</a>
          </li>
        </ul>
      </div>

      <div class="footer__data">
        <h3 class="footer__subtitle">Поддержка</h3>

        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Вопросы & Ответы</a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">Служба поддержки</a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">Связаться с нами</a>
          </li>


        </ul>
      </div>

      <div class="footer__data">
        <h3 class="footer__subtitle">Компания</h3>

        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Наша команда</a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">Вакансии</a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">Планы</a>
          </li>


        </ul>
      </div>

    </div>
    <div class="footer__copyright">
      <p class="footer__copy">© 2021 WorldTravel. Все права защищены (ИБ)</p>
      <div class="footer__terms">
        <a href="#" class="footer__terms-link">Пользовательское соглашение</a>
        <a href="#" class="footer__terms-link">Приватная политика</a>
      </div>
    </div>
  </div>
</footer>
