<header class="header" id="header">
  <nav class="nav container">
    <a href="#" class="nav__logo">WorldTravel</a>

    <div class="nav__menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#home" class="nav__link nav__link--active">Главная</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">О нас</a>
        </li>
        <li class="nav__item">
          <a href="#tours" class="nav__link">Туры</a>
        </li>
        <li class="nav__item">
          <a href="#place" class="nav__link">Места</a>
        </li>
      </ul>
      <button class="nav__btn close-btn">
        <svg>
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>

      <button class="nav__dark" id="theme-btn">
        <span class="nav__dark-icon">
          <svg class="icon-moon">
            <use xlink:href="img/sprite.svg#moon"></use>
          </svg>

          <svg class="icon-sun">
            <use xlink:href="img/sprite.svg#sun"></use>
          </svg>
        </span>
      </button>
    </div>
    <button class="nav__btn menu-btn">
      <svg>
        <use xlink:href="img/sprite.svg#menu"></use>
      </svg>
    </button>
  </nav>
</header>
