<section class="home" id="home">
  <img class="home__img" src="../img/home/home-1.jpg" alt="">

  <div class="container home__container grid">

    <div class="home__data">
      <span class="home__data-subtitle">Открой что-то новое</span>
      <h1 class="home__data-title">Побывай в новых <br> <b> местах мира </b></h1>
      <a href="#tours" class="home__data-btn button">Путешествия</a>
    </div>

    <div class="home__social">
      <a class="home__social-link" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#vk"></use>
        </svg>
      </a>

      <a class="home__social-link" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#inst"></use>
        </svg>
      </a>

      <a class="home__social-link" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#twitter"></use>
        </svg>
      </a>
    </div>

    <div class="home__info">
      <div>
        <span class="home__info-title">лучшие места для отдыха</span>
        <a href="#" class="home__info-btn more-link button">
          <span class="more-link__text">Подробнее</span>
          <span class="more-link__icon">
            <svg>
              <use xlink:href="img/sprite.svg#right-arrow"></use>
            </svg>
          </span>
        </a>
      </div>

      <div class="home__info-overlay">
        <img src="../img/home/home-2.jpg" alt="" class="home__info-img">
      </div>
    </div>

  </div>

</section>
