<section class="place section" id="place">
  <h2 class="section__title">Выберите куда хотите отправиться</h2>
  <div class="container place__container grid">

    <div class="place__card">
      <div class="place__img">
        <img src="img/place/dubai.jpg" alt="Дубаи">
      </div>

      <div class="place__content">
        <span class="place__rating">
          <span class="place__rating-star">
            <svg>
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </span>
          <span class="place__rating-number">5</span>
        </span>

        <div class="place__data">
          <h3 class="place__title">Дубаи</h3>
          <span class="place__subtitle">ОАЭ</span>
          <span class="place__price">150 000 Р</span>
        </div>
      </div>

      <button class="place__btn button">
        <span class="place__btn-icon">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </span>
      </button>
    </div>

    <div class="place__card">
      <div class="place__img">
        <img src="img/place/turkey.jpg" alt="Стамбул">
      </div>

      <div class="place__content">
        <span class="place__rating">
          <span class="place__rating-star">
            <svg>
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </span>
          <span class="place__rating-number">4,7</span>
        </span>

        <div class="place__data">
          <h3 class="place__title">Стамбул</h3>
          <span class="place__subtitle">Турция</span>
          <span class="place__price">75 000 Р</span>
        </div>
      </div>

      <button class="place__btn button">
        <span class="place__btn-icon">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </span>
      </button>
    </div>

    <div class="place__card">
      <div class="place__img">
        <img src="img/place/hawaii.jpg" alt="Гавайи">
      </div>

      <div class="place__content">
        <span class="place__rating">
          <span class="place__rating-star">
            <svg>
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </span>
          <span class="place__rating-number">4,8</span>
        </span>

        <div class="place__data">
          <h3 class="place__title">Гонолулу</h3>
          <span class="place__subtitle">Гавайи</span>
          <span class="place__price">200 000 Р</span>
        </div>
      </div>

      <button class="place__btn button">
        <span class="place__btn-icon">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </span>
      </button>
    </div>

    <div class="place__card">
      <div class="place__img">
        <img src="img/place/iceland.jpg" alt="Рейкьявик">
      </div>

      <div class="place__content">
        <span class="place__rating">
          <span class="place__rating-star">
            <svg>
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </span>
          <span class="place__rating-number">4,9</span>
        </span>

        <div class="place__data">
          <h3 class="place__title">Рейкьявик</h3>
          <span class="place__subtitle">Исландия</span>
          <span class="place__price">120 000 Р</span>
        </div>
      </div>

      <button class="place__btn button">
        <span class="place__btn-icon">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </span>
      </button>
    </div>

    <div class="place__card">
      <div class="place__img">
        <img src="img/place/bali.jpg" alt="Бали">
      </div>

      <div class="place__content">
        <span class="place__rating">
          <span class="place__rating-star">
            <svg>
              <use xlink:href="img/sprite.svg#star"></use>
            </svg>
          </span>
          <span class="place__rating-number">4,9</span>
        </span>

        <div class="place__data">
          <h3 class="place__title">Бали</h3>
          <span class="place__subtitle">Индонезия</span>
          <span class="place__price">100 000 Р</span>
        </div>
      </div>

      <button class="place__btn button">
        <span class="place__btn-icon">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
</section>
