<section class="subscribe section">
  <div class="subscribe__bg">
    <div class="container subscribe__container">
      <h2 class="section__title subscribe__title">Подпишитесь на <br> нашу рассылку</h2>
      <p class="subscribe__description">Будьте в&nbsp;курсе новых путешествий и&nbsp;получите&nbsp;10% скидку</p>

      <form class="subscribe__form">
        <input type="text" placeholder="Введите email" class="subscribe__input">

        <button class="subscribe__btn button">Подписаться</button>
      </form>
    </div>
  </div>
</section>
