<section class="tours section" id="tours">
  <h2 class="section__title">Исследуй новые уголки нашей планеты</h2>

  <div class="container tours__container swiper-container">
    <div class="tours__list swiper-wrapper">
      <a href="#" class="tours__card swiper-slide">
        <img src="../img/tours/bali.jpg" alt="Туры на Бали" class="tours__img">
        <div class="tours__data">
          <h2 class="tours__title">Бали</h2>
          <span class="tours__description">10 туров доступно</span>
        </div>
      </a>

      <a href="#" class="tours__card swiper-slide">
        <img src="../img/tours/hawaii.jpg" alt="Туры на Гавайи" class="tours__img">
        <div class="tours__data">
          <h2 class="tours__title">Гавайи</h2>
          <span class="tours__description">6 туров доступно</span>
        </div>
      </a>

      <a href="#" class="tours__card swiper-slide">
        <img src="../img/tours/iceland.jpg" alt="Туры в Исландию" class="tours__img">
        <div class="tours__data">
          <h2 class="tours__title">Исландия</h2>
          <span class="tours__description">3 тура доступно</span>
        </div>
      </a>

      <a href="#" class="tours__card swiper-slide">
        <img src="../img/tours/turkey.jpg" alt="Туры в Турцию" class="tours__img">
        <div class="tours__data">
          <h2 class="tours__title">Турция</h2>
          <span class="tours__description">15 туров доступно</span>
        </div>
      </a>

      <a href="#" class="tours__card swiper-slide">
        <img src="../img/tours/dubai.jpg" alt="Туры в Дубаи" class="tours__img">
        <div class="tours__data">
          <h2 class="tours__title">Дубаи</h2>
          <span class="tours__description">7 туров доступно</span>
        </div>
      </a>
    </div>
  </div>
</section>
